{
  "extends": ["airbnb", "prettier", "prettier/react", "plugin:jsx-a11y/recommended"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "localStorage": true,
    "fetch": true,
    "window": true
  },
  "plugins": ["jsx-a11y"],

  "rules": {
    "react/forbid-prop-types": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 1,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "no-unused-vars": 0,
    "prefer-destructuring": 0,
    "jsx-a11y/rule-name": "aria-role"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
